/****** MISE EN PAGE GÉNÉRALE ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

html, body {
    margin:0;
    padding:0;
    width:100%;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


    /********** HEADER **********/

header {
    height:79px;             /* Hauteur maximale */
    width:100%;                  /* Largeur maximale*/
    background-color: white;
    margin:0 0 50px 0;    
}

.HEADER {
    display:flex;
    justify-content: space-between;   /* Espace entre le logo et le menu */
    align-items: center;              /* Centrer verticalement les éléments */
    max-width: 100%;                  /* Largeur maximale */
}

.HEADER img {
    max-width: 120px;       /* Taille estimée du logo-texte */
    height: auto;           /* Préserver les proportions */
    position: relative;
    top: 20px;
}

.Menu_Du_Site {
    display:flex;
    flex-direction:row;
    gap:10px;
    margin:0;
    justify-content: right;
}

.Bouton_Menu {
    background-color:transparent;
    margin: 0;
    padding: 20px 10px 10px 10px;
    border: none;
    border-top: 3px solid transparent;      /* Bordure invisible par défaut */
    border-bottom: 3px solid transparent;   /* Bordure invisible par défaut */
    font-size: 16px;                        /* Taille de la police */
    cursor: pointer;                        /* Curseur pointeur */
    position: relative;
    transition: color 0.3s ease, border-top-color 0.3s ease;      /* Transition fluide */
    transition: color 0.3s ease, border-bottom-color 0.3s ease;   /* Transition fluide */
        /* La couleur change en 3s, la bordure du haut apparait en 3s*/
}

.Bouton_Menu:hover {              /* Quand on passer avec la souris */
    color: #0065FC;             /* Change la couleur du texte */
    border-top-color: #0065FC;  /* Change la couleur de la bordure */
}

.Bouton_Menu:focus {              /* Quand on clique avec la souris */
    color: #0065FC;             /* Change la couleur du texte */
    border-top-color: #0065FC;  /* Change la couleur de la bordure */
}


/********** MEDIA QUERIES DU HEADER **********/
    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {
    html, body {
        overflow-x: hidden;
    }
    
    .HEADER {
        width:100%;
        height:auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        flex-shrink: 0;  /* Les éléments ne peuvent pas rétrécir même si l'espace est trop petit*/
        }

    .HEADER img {
        padding:30px 0;
        width:100%;
    }

    .Menu_Du_Site {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;    /* Supprimer tout padding */
        margin:0;      /* Supprimer les marges */
        gap:0;
    }

    .Bouton_Menu {
        flex: 1;                /* Les boutons prennent 50% de la largeur */
        text-align: center;     /* Centrer le texte dans les boutons */
        padding:30px 0;
        margin: 0; 
        border-bottom: 3px solid #F2F2F2;   /* Bordure visible par défaut */
    }

    .Bouton_Menu:hover {          /* Quand on passer avec la souris */
        color: #0065FC;                
        border-bottom-color: #0065FC; 
        border-top: none;
    }

    .Bouton_Menu:focus {          /* Quand on clique avec la souris */
        color: #0065FC;             
        border-bottom-color: #0065FC; 
        border-top: none; 
    }

    body {
        width:100%;
    }

    .main-container {
        padding:0;
        margin:0;
    }

    main {
        padding: 50px 20px 0 20px;
        margin:0;
    } 
}


    /********** INFOS GROUPE **********/
/***** SLOGAN *****/
.SLOGAN {
    padding:0;
    margin:0;
    line-height:1;
}

.Titre_Slogan {
    font-size:22px;
}

.P_Slogan {
    font-size:16px;
}

/********** MEDIA QUERIES DU SLOGAN  **********/
    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {    
    .SLOGAN {
        margin: 30px 0 0 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        white-space: normal;    /* Faire des retours à la ligne automatiquement */
        display: block;         /* Assurer qu'il y a un retour à la ligne */
    }

    .Titre_Slogan {
        word-break:keep-all;    /* Ne pas couper les mots aux retours à la ligne */
    }

    .P_Slogan {
        word-break:keep-all;    /* Ne pas couper les mots aux retours à la ligne */
    }
}


/***** FORMULAIRE DE RECHERCHE *****/
.formulaire {
    display:flex;
    flex-direction: row;
    align-items:center;
    width:377px;
    height:49px;
    margin:0 0 35px 0;
    padding:20px 0px;
    overflow: hidden;               /* Empêcher les débordements */
    background-color: none;
}

.icone i {
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.4);   /* Ombre sous l'icone */
    border: #F2F2F2 solid 0.5px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    font-size: 20px;  
    width: 49px;
    height:49px;
} 

.Saisie_et_Bouton {
    display:flex;
    flex-direction:row;
    align-items:center;             /* Aligner verticalement */
    border: #F2F2F2 solid 0.5px;
    border-radius : 0 15px 15px 0;
    overflow: hidden;               /* Empêche le débordement */
}

.Saisie_Recherche {
    border: none;
    padding-left:15px;
    font-size: 18px;
    width:190px;
    height:49px;
    color: black;
    font-weight: 700;
    text-align: left;        /* Alignement du texte à gauche */
    outline: none;           /* Retire le contour par défaut */
}

.Barre_Recherche::placeholder {
    color: gray;
    text-align: left;         /* Alignement du texte à gauche */
    padding-left:15px;
}

.Bouton_Recherche {
    background-color:#0065FC;
    border: #0065FC solid 0.5px ;
    border-radius : 0 15px 15px 0;
    color:white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;                    /* Espacement entre texte et icône */
    width:132px;               /* Largeur maximale*/
    height:49px;
}

.Bouton_Recherche i {
    display: none;                 /* Cacher l'icône par défaut */
    background-color:#0065FC;
}

.Bouton_Recherche .texte {
    display: inline;               /* Le texte est visible par défaut */
    font-size:18px;
}

.Bouton_Recherche:hover {
    background-color: #0052d4;   /* Couleur plus foncée au survol */
}

/********** MEDIA QUERIES DU FORMULAIRE DE RECHERCHE **********/
    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {
    .formulaire {
        width: 100%;      /* Prend toute la largeur de l'écran sur mobile */
        padding:35px 0;   /* Réduit les marges sur mobile */
        margin:0;
    }

    .Saisie_et_Bouton {
        flex-direction: row;     /* Garde les éléments en ligne */
        width: 100%;             /* Adapte la largeur de la barre */
    }

    .Saisie_Recherche {
        width: 100%;     /* La barre de recherche prend toute la largeur de l'écran */
        padding: 0 20px;   /* Réduit l'espace à l'intérieur du champ de recherche */
    }
    
    .Bouton_Recherche {
        border-radius: 15px;       /* Arrondi complet aux 4 coins */
        padding: 10px;             /* Réduit la taille du bouton */
        justify-content: center;   /* Centre l'icône */
        width:50px;
        height:49px;
    }

    .Bouton_Recherche i {
        display: inline-block;      /* Affiche l'icône */
    }

    .Bouton_Recherche .texte {
        display: none;              /* Cache le texte */
    }

    .icone i {
        box-shadow: none;
    }
}


/***** FILTRES DE RECHERCHE *****/
.Filtres_Recherche {
    height:auto;
    width: 100%;
    margin: 0 0 35px 0;
    padding:0;
    display:flex;
    align-items:center;
    flex-direction: row;
    position:relative;
}

.Filtres {
    font-size:18px;
    margin: 0 15px 0 0;
    padding:5px;
    font-weight: 600;
}

.Boutons_Filtres {
    display:flex;
    justify-content:space-between;
    height:auto;
    gap:15px;
}

.B_Filtres1 {
    width:173px;
}

.B_Filtres2 {
    width:134px;
}

.B_Filtres3 {
    width:170px;
}

.B_Filtres4 {
    width:167px;

}

.B_Filtres1, .B_Filtres2, .B_Filtres3, .B_Filtres4 {
    border:#dbdbdb 2.5px solid;
    background-color: white;
    border-radius:50px;
    font-weight: 600;
    font-size:18px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    height: 50px;
}

.B_Filtres1:hover, .B_Filtres2:hover, .B_Filtres3:hover, .B_Filtres4:hover, 
.B_Filtres1:focus, .B_Filtres2:focus, .B_Filtres3:focus, .B_Filtres4:focus {
    background-color: #DEEBFF;
}


/********** MEDIA QUERIES DES FILTRES DE RECHERCHE **********/
    /***** Pour les tablettes *****/
@media (max-width: 1024px) {
    .Filtres_Recherche {
        flex-direction: column;    /* Disposer les éléments en colonne */
        align-items: flex-start;   /* Aligner les éléments à gauche */
    }
    
    .Filtres {
        margin: 0 0 15px 0;       /* Ajouter un peu d'espace sous le texte "Filtres" */
    }
    
    .Boutons_Filtres {
        display: flex;         /* Garder les boutons en ligne */
        flex-wrap: nowrap;     /* Interdir aux boutons de se décomposer en plusieurs lignes* */
        gap: 10px;             /* Espacement entre les boutons */
    }
}

    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {
    .Filtres_Recherche {
        display: flex;
        flex-direction: column;     /* Aligner en colonne */
        align-items: flex-start;    /* Aligner le contenu à gauche */
        gap: 20px;                  /* Espacement entre chaque ligne */
        width: 100%;                /* Prendre toute la largeur de l'écran */
    }

    .Filtres {
        margin: 0;           /* Supprimer les marges inutiles */
        padding: 0;          /* Supprimer les espaces internes */
        font-size: 18px;
        text-align: left;    /* Aligner du texte à gauche */
    }

    .Boutons_Filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;   /* Deux boutons par ligne */
        gap: 10px;                        /* Espacement entre les boutons */
        width: 100%;                      /* Prendre toute la largeur de l'écran */
    }

    .B_Filtres1, .B_Filtres2, .B_Filtres3, .B_Filtres4 {
        width: 100%;                      /* Les boutons occupent toute la largeur disponible */
        height: 50px;                     /* Hauteur fixe des boutons */
        justify-content: center;          /* Centrer le contenu */
    }
}


/***** INFOBAR *****/
.Infobar {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    margin:20px 0 35px 0;;
    padding:0;
    height:24px;
    width:100%;
    gap:10px;
}

.Infobar i {
    display:flex;
    align-items:center;
    justify-content:center;
    border:#dbdbdb 1.5px solid;
    border-radius:50%;
    height:24px;
    width:24px;
    font-size:14px;
    flex-shrink: 0;   /* Empêche l'icône de rétrécir avec le conteneur */
}

.Infobar p {
    font-size:16px;
}


    /********** HEBERGEMENTS AND POPULAIRES **********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/***** HÉBERGEMENTS A MARSEILLE*****/
.hebergements {
    background-color: var(--main-bg-color);
    width:65%;
    max-width:871px;
    height:100%;
    margin: 0 40px 0 0;
}

.hebergements h2 {
    font-size:22px;
    margin: 0 0 30px 0;
    padding:0;
    text-align: left;
}

.liste_hotels {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 811px;
    gap:30px;
    margin:0 0 30px 0;
}

.card_hotel .card {
    flex: 1 1 calc(33.333% - 30px);   /* Chaque carte occupe 1/3 moins un ajustement pour le gap */
    width: calc((811px / 3) - 60px);
    height:207.25px;
    padding:5px;
    margin: 0;
    border-radius:20px;
}

.card_hotel img {
    width:100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.card_hotel .card-content {
    padding:0;
    position: relative;
    bottom:10px;        /* Positionner par rapport au conteneur parent */
    left:10px;          /* Positionner par rapport au conteneur parent */
    right:10px;         /* Positionner par rapport au conteneur parent */
    line-height:0.6;    /* Interligne */
}

.card_hotel .card-content .card-txt .card-title {
    font-size:16px;
}

.card_hotel .card-content .card-txt .card-subtitle {
    font-size:14px;
}
  
.Afficher_Plus {       /* TEXTE en bas de la section Hébergements à Marseille */
    font-size: 18px;
    font-weight: 700;
    margin:0;
}

.card_hotel .card:hover {      /* Quand on survole une carte */
    transform: scale(1.05);    /* Zoom légèrement la carte (5% de sa taille) */
}


/***** POPULAIRES *****/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card:hover {    /* Quand on survole une carte */
    transform: scale(1.05);        /* Zoom légèrement la carte (5% de sa taille) */
}


/********** MEDIA QUERIES DU HEBERGEMENTS ET POPULAIRES **********/
    /***** Pour les tablettes *****/
@media screen and (min-width:767.98px) and (max-width: 1025px) {
    .hebergements-and-populaires {
        flex-direction: column;      /* Empile les sections */
    }

    .hebergements {
        width: 100%;         /* Chaque section occupe toute la largeur */
        max-width: none;     /* Supprime la limite maximale pour les écrans plus petits */
    }

    .populaires {
        width: 100%;        /* Chaque section occupe toute la largeur */
        max-width: none;    /* Supprime la limite maximale */
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;      /* Empile les sections */
        margin-left: -20px;          /* Supprimer le padding de MAIN en version mobile */
        margin-right: -20px;         /* Supprimer le padding de MAIN en version mobile */
        width: calc(100% + 40px);    /* Ajuster les marges négatives */
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px;
        box-sizing: border-box;
    }

    main .hebergements-and-populaires {
        padding:0;
    }

    .hebergements {
        background-color: transparent;
        order:2;
        flex-direction: column;
        width: 100%;         /* Chaque section occupe toute la largeur */
        max-width: none;     /* Supprime la limite maximale pour les écrans plus petits */
        height:100%;
        max-height:2019.5px;
        padding:20px;
        margin:0;
    }

    .populaires {
        order:1;
        flex-direction: column;
        align-items: center;
        width: 100%;        /* Chaque section occupe toute la largeur */
        max-width: none;    /* Supprime la limite maximale */
        margin-top: 35px;
        margin-bottom:15px;
    }

    .card_hotel {
        display: flex;
        flex-direction: column;
        width:100%;
        height:auto;
        gap:15px;
    }

    .card_hotel .card {
        width:100%;
        flex: 1 1 100%;
    }

    .Afficher_Plus {
        padding:0;
        margin:0;
    }
}


/********** ACTIVITÉS A MARSEILLE **********/
.Activites_Marseille {
    display:flex;
    flex-direction: column;
    padding:30px 0;
    margin: 35px 0;
}

.Activites_Marseille h2 {
    font-size: 22px;
    text-align: left;
    margin:0 0 30px 0;
    padding:0;
}

.Cartes_Activites {
    display:flex;
    gap:30px;
    height: 439px;
    overflow: visible;       /* Empêche les débordements visuels */
}

.activites_cards {
    display:flex;
    flex-direction: column;
    border-radius:20px;
    flex:1;
}

.activites_cards .card {
    height:439px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding:0;
}

.activites_cards .card img {
    width:100%;
    height:380px;
    object-fit: cover;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.activites_cards .card h3 {
    padding: 0 19px;
    font-size:16px;
}

.activites_cards .card:hover {     /* Quand on survole une carte */
    transform: scale(1.05);        /* Zoom légèrement la carte (5% de sa taille) */
}


/********** MEDIA QUERIES DES ACTIVITÉS A MARSEILLE **********/
    /***** Pour les tablettes *****/
@media screen and (min-width:767.98px) and (max-width: 1025px) {
    .Activites_Marseille {
        padding:30px;
        margin:35px 0;
    }

    .activites_cards .card {
        width:100%;
        height:270px;
    }

    .activites_cards .card img {
        height:200px;
    }

    .Cartes_Activites {
        width: 100%;         /* Chaque section occupe toute la largeur */
        max-width: none;     /* Supprime la limite maximale pour les écrans plus petits */
        margin:0;
        gap:30px;
        height:auto;
    }
}

    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {
    .Activites_Marseille {
        padding:30px;
        margin:35px 0;
    }
    
    .Cartes_Activites {
        flex-direction: column;
        width: 100%;         /* Chaque section occupe toute la largeur */
        max-width: none;     /* Supprime la limite maximale pour les écrans plus petits */
        margin:0;
        gap:15px;
        height:auto;
    }

    .activites_cards .card {
        width:100%;
        height:200px;
    }

    .activites_cards .card img {
        height:141px;
    }
}


/********** FOOTER **********/
footer {
    display:flex;
    justify-content:flex-start;
    text-align: start;
    width:100%;
    background-color: #F2F2F2;
}

footer h2 {
    font-size:18px;
    white-space : nowrap;
}

footer ul {
    line-height:2;
    font-size:16px;
    margin:0;
    padding:0;
}

footer li {
    list-style-type: none;
    white-space : nowrap;
}

.A_Propos, .Nos_Hebergements, .Assistance {
    width: calc(100%/3);
    padding:20px 0 20px 30px;
}

/********** MEDIA QUERIES DES ACTIVITÉS A MARSEILLE **********/
    /***** Pour les mobiles *****/
@media screen and (max-width: 767.98px) {
    footer {
        flex-direction: column;
    }
}