/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***** HEADER du projet *****/
header {
    max-height:79px;      /* Hauteur maximale */
    width:100%;           /* Largeur maximale*/
    background-color: white;
    margin:0 0 50px 0;
    padding:0 0 20px 0;
}

.HEADER {
    display:flex;
    justify-content: space-between;   /* Espace entre le logo et le menu */
    align-items: center;              /* Centre verticalement les éléments */
    margin:0;
    padding:0;
    max-width: 100%;                  /* Largeur maximale */
}

.HEADER img {
    max-width: 120px;    /* Taille estimée du logo-texte */
    height: auto;        /* Préserver les proportions */
    position: relative;
    top: 20px;
    padding: 0;
}

.Menu_Du_Site {
    display:flex;
    text-align:right;
    flex-direction:row;
    gap:10px;
    margin:0;
    align-items:flex-start;  /* Aligner au début */
    max-height: 35px;        /* Données de la maquette */
    max-width: 344px;        /* Données de la maquette */
}

.Bouton_Menu {
    background-color: white;
    margin: 0;
    padding: 20px 10px 10px 10px;
    border: none;
    border-top: 3px solid transparent;      /* Bordure invisible par défaut */
    border-bottom: 3px solid transparent;   /* Bordure invisible par défaut */
    font-size: 15px;                        /* Taille de la police */
    cursor: pointer;                        /* Curseur pointeur */
    position: relative;
    color: black;
    transition: color 0.3s ease, border-top-color 0.3s ease;      /* Transition fluide */
    transition: color 0.3s ease, border-bottom-color 0.3s ease;   /* Transition fluide */
        /* La couleur change en 3s, la bordure du haut apparait en 3s*/
    font-family:Raleway;
}

.Bouton_Menu:hover {    /* Quand on passer avec la souris */
    color: #0065FC;             /* Change la couleur du texte */
    border-top-color: #0065FC;  /* Change la couleur de la bordure */
}

.Bouton_Menu:focus {    /* Quand on clique avec la souris */
    color: #0065FC;             /* Change la couleur du texte */
    border-top-color: #0065FC;  /* Change la couleur de la bordure */
}


/***** Pour la partie barre de recherche *****/
.Formulaire_Recherche {
    display:flex;
    flex-direction: row;
    align-items:center;
    width:377px;
    height:49px;
    margin:0;
    margin-bottom: 35px; /* Ajoute un espace de 20px sous la barre de recherche */
    padding:20px 0px;
    overflow: hidden;   /* Empêche les débordements */
    background-color: white transparent;
}

.icone i {
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.4);   /* Ombre sous l'icone */
    border: #F2F2F2 solid 0.5px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    font-size: 20px; /* Taille de l'icône */
    color: black;  /* Couleur de l'icône */
    width: 49px;
    height:49px;
} 


.Barre_et_Bouton {
    display:flex;
    flex-direction:row;
    flex:1;              /* Prendre tout l'espace restant */
    align-items:center;  /* Aligner verticalement */
    border: #F2F2F2 solid 0.5px;
    border-radius : 0 15px 15px 0;
    overflow: hidden; /* Empêche le débordement */
}

.Barre_Recherche {
    border: none;
    flex: 1;
    padding: 0 15px;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    color: black;
    font-weight: 700;
    text-align: left; /* Alignement du texte à gauche */
    outline: none;    /* Retire le contour par défaut */
}

.Barre_Recherche::placeholder {
    color: gray;
    font-weight: 700;
    font-family: Raleway;
    text-align: left; /* Alignement du texte à gauche */
}

.Bouton_Formulaire {
    background-color:#0065FC;
    border: #0065FC solid 0.5px ;
    border-radius : 0 15px 15px 0;
    color:white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;                    /* Espacement entre texte et icône */
    width:132px;           /* Largeur maximale*/
    height:49px;
}

.Bouton_Formulaire i {
    display: none;        /* Cache l'icône par défaut */
    background-color:#0065FC;
}

.Bouton_Formulaire .texte {
    display: inline;      /* Le texte est visible par défaut */
    font-size:16px;
}

.Bouton_Formulaire:hover {
    background-color: #0052d4;   /* Couleur plus foncée au survol */
}

/***** FILTRES DE RECHERCHE *****/
.Filtres_Recherche {
    height:50px;
    width: 758px;
    margin: 0 0 35px 0;
    padding:0;
    display:flex;
    align-items:center;
    flex-direction: row;
}

.Filtres {
    color: black;
    font-size:18px;
    margin: 0 15px 0 0;
    padding:5px;
}

.Boutons_Filtres {
    display:flex;
    justify-content:space-between;
    width: 689px;
    height:50px;
}

.B_Filtres1 {
    color:black;
    font-weight: 600;
    font-size:17px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:173px;
    height:50px;
    border:#dbdbdb 2.5px solid;
    background-color: white;
    border-radius:50px;
}

.B_Filtres2 {
    color:black;
    font-weight: 600;
    font-size:17px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:134px;
    height:50px;
    border:#dbdbdb 2.5px solid;
    background-color: white;
    border-radius:50px;
}

.B_Filtres3 {
    color:black;
    font-weight: 600;
    font-size:17px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:170px;
    height:50px;
    border:#dbdbdb 2.5px solid;
    background-color: white;
    border-radius:50px;
}

.B_Filtres4 {
    color:black;
    font-weight: 600;
    font-size:17px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:167px;
    height:50px;
    border:#dbdbdb 2.5px solid;
    background-color: white;
    border-radius:50px;
}

.B_Filtres1:hover {
    background-color: #DEEBFF;
}
.B_Filtres2:hover {
    background-color: #DEEBFF;
}
.B_Filtres3:hover {
    background-color: #DEEBFF;
}
.B_Filtres4:hover {
    background-color: #DEEBFF;
}

.B_Filtres1:focus {
    background-color: #DEEBFF;
}
.B_Filtres2:focus {
    background-color: #DEEBFF;
}
.B_Filtres3:focus {
    background-color: #DEEBFF;
}
.B_Filtres4:focus {
    background-color: #DEEBFF;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    .Formulaire_Recherche {
        width: 100%; /* Prend toute la largeur de l'écran sur mobile */
        padding: 10px 0; /* Réduit les marges sur mobile */
    }

    .Barre_et_Bouton {
        flex-direction: row; /* Garde les éléments en ligne */
        width: 100%; /* Adapte la largeur de la barre */
    }

    .Barre_Recherche {
        width: 100%; /* La barre de recherche prend toute la largeur de l'écran */
        padding: 10px; /* Réduit l'espace à l'intérieur du champ de recherche */
    }
    
    .Bouton_Formulaire {
        border-radius: 15px; /* Arrondi complet aux 4 coins */
        padding: 10px; /* Réduit la taille du bouton */
        justify-content: center; /* Centre l'icône */
        width:50px;
        height:49px;
    }

    .Bouton_Formulaire i {
        display: inline-block; /* Affiche l'icône */
    }

    .Bouton_Formulaire .texte {
        display: none;   /* Cache le texte */
    }

    .Filtres_Recherche {
        display: flex;
        flex-direction: column;     /* Aligner en colonne */
        align-items: flex-start;    /* Aligner le contenu à gauche */
        gap: 20px;                  /* Espacement entre chaque ligne */
        width: 100%;                /* Prendre toute la largeur de l'écran */
    }

    .Filtres {
        margin: 0;           /* Supprimer les marges inutiles */
        padding: 0;          /* Supprimer les espaces internes */
        font-size: 18px;
        text-align: left;    /* Aligner du texte à gauche */
    }

    .Boutons_Filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;   /* Deux boutons par ligne */
        gap: 10px;                        /* Espacement entre les boutons */
        width: 100%;                      /* Prendre toute la largeur de l'écran */
    }

    .B_Filtres1, .B_Filtres2, .B_Filtres3, .B_Filtres4 {
        width: 100%;                      /* Les boutons occupent toute la largeur disponible */
        height: 50px;                     /* Hauteur fixe des boutons */
        justify-content: center;          /* Centrer le contenu */
    }

}