/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***** HEADER du projet *****/
header {
    max-height:79px;      /* Hauteur maximale */
    width:100%;           /* Largeur maximale*/
    background-color: white;
    margin:0 0 50px 0;
    padding:0 0 20px 0;
}

.HEADER {
    display:flex;
    justify-content: space-between;   /* Espace entre le logo et le menu */
    align-items: center;              /* Centre verticalement les éléments */
    margin:0;
    padding:0;
    max-width: 100%;                  /* Largeur maximale */
}

.HEADER img {
    max-width: 120px;    /* Taille estimée du logo-texte */
    height: auto;        /* Préserver les proportions */
    position: relative;
    top: 20px;
    padding: 0;
}

.Menu_Du_Site {
    display:flex;
    text-align:right;
    flex-direction:row;
    gap:10px;
    margin:0;
    align-items:flex-start;  /* Aligner au début */
    max-height: 35px;        /* Données de la maquette */
    max-width: 344px;        /* Données de la maquette */
}

.Bouton_Menu {
    background-color: white;
    margin: 0;
    padding: 20px 10px 10px 10px;
    border: none;
    border-top: 3px solid transparent;      /* Bordure invisible par défaut */
    border-bottom: 3px solid transparent;   /* Bordure invisible par défaut */
    font-size: 15px;                        /* Taille de la police */
    cursor: pointer;                        /* Curseur pointeur */
    position: relative;
    color: black;
    transition: color 0.3s ease, border-top-color 0.3s ease;      /* Transition fluide */
    transition: color 0.3s ease, border-bottom-color 0.3s ease;   /* Transition fluide */
        /* La couleur change en 3s, la bordure du haut apparait en 3s*/
    font-family:Raleway;
}

.Bouton_Menu:hover {    /* Quand on passer avec la souris */
    color: #0065FC;             /* Change la couleur du texte */
    border-top-color: #0065FC;  /* Change la couleur de la bordure */
}

.Bouton_Menu:focus {    /* Quand on clique avec la souris */
    color: #0065FC;             /* Change la couleur du texte */
    border-top-color: #0065FC;  /* Change la couleur de la bordure */
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
}